@media only screen and (max-width: 632px) {
	body { font-size:110%;}
}

/* Page Common */

body { 
	padding-top: 55px; 
	font-family: "Helvetica Neue", Arial, sans-serif;
}

p {
	color: #444444;
	font-size: 14px;
}

/* Navigation */

.navbar {
	border-top: 5px solid #ffdd55;
	padding: 0 8%;
}

.invite {
	background-color: #ffdd55;
	border-color: #ffd42a;
	color: #fff;
}

.invite:hover,
.invite:active {
	background-color: #ffe680;
	border-color: #ffdd55;
	color: #fff;
}

.share {
	background-color: #2ad4ff;
	border-color: #00ccff;
	color: #fff;
}

.white-caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.share:hover,
.share:active {
	background-color: #55ddff;
	border-color: #2ad4ff;
	color: #fff;
}

/* CTA Top Section */

.sec-cta {
	padding: 6% 0%;
}

.sec-cta .left-cta,
.sec-cta .right-cta {
	margin: auto;
	padding: 50px 4% 50px 7%;
}

.left-cta {
	text-align: left;
}

.left-cta h1 {
	font-size: 4.1em;
	color: #444444;
}

.left-cta span {
	color: #00ccff;
}

.right-cta {
	text-align: center;
	border-left: 1px solid #DFDFDF;
}

.right-cta .cta-text{
	text-align: left;
}

.right-cta a{
	color: #888888;
	text-decoration: none;
}

.right-cta a:hover,
.right-cta a:active {
	color: #ffe680;
	text-decoration: none;
}

.btn-lg {
	background-color: transparent;
	border: 2px solid #00ccff;
	color: #00ccff;
	text-transform: uppercase;
	padding: 15px;
}

.btn-lg:hover,
.btn-lg:active {
	background-color: #2ad4ff;
	color: #fff;
	border: 2px solid #00ccff;
}

/* Hook */

.sec-hook {
	background-color: #444444;
	padding: 8%;
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	-moz-box-shadow: inset 0 0 20px #000; 
	-webkit-box-shadow: inset 0 0 20px #000; 
	box-shadow: inset 0 0 20px #000;
}

.sec-hook h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: bold;
}

.sec-hook span {
	font-weight: normal;
	color: #ffdd55;
}

/* Product Pitch */

.sec-pitch {
	padding: 4% 8%;
	text-align: center;
}

.sec-pitch h3 {
	color: #444444;
	text-transform: uppercase;
	font-weight: bold;
}

.sec-pitch .about {
	font-size: 17px;
}

.sec-pitch .bullets div {
	padding: 4% 2%;
}

.sec-pitch .bullets div div {
	border: 1px solid #DFDFDF;
	padding: 50px 25px;
}

.sec-pitch .bullets div div:hover {
	border-bottom: 5px solid #DFDFDF;
}

.sec-pitch h4 {
	color: #2b2b2b;
	font-weight: bold;
}

.sec-pitch .bullets div div p {
	text-align: left;
}

/* Crowdfunding */

.values {
	padding-right: 35px;
	margin-top: -10px;
}

.values h3 {
	color: #444444;
	text-transform: uppercase;
	font-weight: bold;
}

.values h4 {
	color: #444444;
	border-left: 4px solid #2ad4ff;
	padding-left: 10px;
}

.values .note {
	color: #555555;
	font-size: 12px;
	font-style: italic;
}

.crowdfunding {
	padding: 4% 8% 2% 8%;
	border-top: 1px solid #acacac;
	-moz-box-shadow: inset 0 0 20px #666666; 
	-webkit-box-shadow: inset 0 0 20px #666666;
	box-shadow: inset 0 0 20px #666666;
}

.crowdfunding .row div {
	margin-bottom: 20px;
}

.forms,
.forms-btc {
	border: 2px solid #acacac;
	background-color: #444444;
}

.forms {
	padding: 15px 25px 60px 25px;
}

.forms h3 {
	color: #fff;
	text-transform: uppercase;
}

.forms .input-group {
	margin-bottom: 25px;
}

.forms .input-lg,
.forms .input-group-addon {
	border-color: #444444;
}

.forms .input-group-addon {
	background-color: #2ad4ff;
}

.forms .glyphicon {
	color: #DFDFDF;
	max-width: 25px;
	max-height: 25px;
}

.forms p {
	color: #DFDFDF;
}

.crowdfunding .btn {
	background-color: #ffdd55;
	border-color: #ffd42a;
	color: #444444;
	font-weight: bold;
}

.crowdfunding .btn:hover,
.crowdfunding .btn:active {
	background-color: #ffe680;
	border-color: #ffdd55;
	color: #fff;
}

.forms-btc {
	padding: 20px 25px 5px 25px;
}

.forms-btc h4 {
	color: #fff;
	text-transform: uppercase;
}

.forms-btc p {
	color: #fff;
	font-size: 13px;
}

.forms span,
.forms-btc .yellow {
	color: #ffe680;
}

.divider {
	color: #acacac;
}

.progress-bar-success {
	background-color: #55ddff;
}

.forms-btc .terms {
	color: #DFDFDF;
	font-size: 12px
}
/* Footer */

footer {
	background-color: #2b2b2b;
	padding: 50px;
	text-align: center;
}

footer p {
	color: #DFDFDF;
}

